services:
  seo-analyser-dev:
    build:
      context: .
      target: development
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development

  seo-analyser-prod:
    build:
      context: .
      target: runner
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
